@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: rgba(206, 201, 201, 0.856);
}

/*========= Page d'acccueil =============*/
.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
     font-size: 3em;
  }
}


/*  =========  ***** NavBar *****  =========  */
nav{
  max-width: 100vw;
	height: 90px;
	background: rgb(231, 238, 243);
	box-shadow: 20px -20px 40px #000;
}
nav > a, nav > ul{
  display: inline-flex;
}
nav > a {
	margin-left: 10px;
	float: left;
	text-decoration: none;
}
nav > ul{
	padding: 0;
	margin-right: 60px;
	display: flex;
	float: right;
}
ul > a {
	text-decoration: none;
	margin-right: 10px;
}
nav > ul > a > li{
	color: rgb(224, 109, 14);
	line-height: 28px;
	justify-content: center;
  padding: 30px;
  font-size: 21px;
	height: 26px;
	list-style: none;
}
.titulo{
	font-weight: 200;
	color: #000;
	padding: 15px;
	height: 26px;
}
.titulo:hover, ul li:hover{ 
	box-shadow: 0px 2px rgb(224, 109, 14);
}

/* -- Menu Icon -- */
#menu-toggle {
  display: none;
}
.menu-icon {
  position: absolute;
  top: 18px;
  left: 30px;
  font-size: 24px;
  z-index: 120;
  transition: all 300ms ease-in-out;
  color: #fff;
  display: none;
}
/* --- Input Search --- */
.wrap{
  width: 30%;
  position: absolute;
  top: 53%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: -90%;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(224, 109, 14);
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #b5beba;
}

.searchTerm:focus{
  color: rgb(224, 109, 14);
}

.searchButton {
  width: 40px;
  height: 39px;
  border: 1px solid rgb(224, 109, 14);
  background: rgb(224, 109, 14);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*  --- Header --- */
header{
  width:100%;
  height:140px;
  background:#a7a5a4;
  position: fixed;
  z-index: 100;
  margin-top: -1em;
}
.logo{
  width:10em;
  height: 8em;
  position:relative;
  top: -1px;
  float:left;
  margin-left:5%;
}
.logo img{
  width:80%;
  height:80%;
}

a, a:visited, a:active, a:link {
  text-decoration: none; 
  color: unset; 
  font-size: unset; 
  line-height: unset; 
  font-weight: unset;
}
  ul {
    list-style-type: none;  
    margin: 0;  
    padding: 0;
  }
  .monser-font {
    font-family: 'Montserrat', Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
  }
 /*  ==============  ***** main *****  ==============  */
  main{
    display: flex;
    margin: auto;
    width: 96%;
  }
 /*  ==============  ***** section 1 : vid-container *****  ==============  */
.vid-container{
  display: flex;
  margin: auto;
}
.The-video{
  position: relative;
  float: left;
  margin-left: -12em;
}
iframe{
  border: 3px solid #e06d0e;
}
 /* ** aside **  */
aside{
  margin-top: 20em;
  padding: 0 25px;
}
aside .texte-video{
  text-align: justify;
}
  h1.title{
    text-align: center;
    color: rgb(224, 109, 14);
    font-size: 4rem;
    font-weight: 2em;
    padding-top: 2.70em;
    margin-bottom: 1em;
  }
  .title img{
    width: 1em;
    height: 1em;
  }
  /*  =========  ***** List-2 *****  =========  */

  .list-2 {
    margin-top: -3em;
    flex: 0 0 27rem;
    display: flex;
    flex-direction: column;
    background-color: #e2e4e6;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
    border: 2px solid #e06d0e;;
}

.list:last-of-type {
    margin-right: 0;
}
.list-title {
  text-align: center;
    font-size: 2.60rem;
    font-weight: 700;
    color: #e06d0e;
    padding: 0.1rem;
}
.list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0 0.6rem 0.5rem;
    overflow-y: auto;
}

.list-items li {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
    background-color: #fff;
    padding: 0.65rem 0.6rem;
    color: #4d4d4d;
    border-bottom: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
    cursor: pointer;
}

.list-items li:last-of-type {
    margin-bottom: 0;
}
.list-items li:hover {
    background-color: #eee;
}
/*  =========  ***** form ******** ========*/
.timing {
  width: 100%;
  padding: 2em;
  height: 100%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timing label{
  color: #e06d0e;
}
.container-chrono {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 54px -2px rgba(0, 0, 0, .2);
  padding: 2em;
}

#chrono {
  color: #e06d0e;
  font-size: 6em;
  font-weight: bold;
  margin: 0;
}
/*  =========  ***** Section 2 : Slide article *****  =========  */

h1.slid-article{
  padding: 1em 0;
  margin-top: 2em;
}
.article-containaire{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10em;
  margin-bottom: -19em;
 
}
.wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 1500px;
  margin: 0 auto;
}

.shadow-wrapper:before, .shadow-wrapper:after {
 z-index: -1;
 position: absolute;
 content: '';
 bottom: 65px;
 left: 5px;
 width: 50%;
 top: 80%;
 max-width:300px;
 background: #777;
 -webkit-box-shadow: 0 15px 10px #777;
 -moz-box-shadow: 0 15px 10px #777;
 box-shadow: 0 15px 10px #777;
 -webkit-transform: rotate(-3deg);
 -moz-transform: rotate(-3deg);
 -o-transform: rotate(-3deg);
 -ms-transform: rotate(-3deg);
 transform: rotate(-3deg);
}

.shadow-wrapper:after {
 -webkit-transform: rotate(3deg);
 -moz-transform: rotate(3deg);
 -o-transform: rotate(3deg);
 -ms-transform: rotate(3deg);
 transform: rotate(3deg);
 right: 5px;
 left: auto;
}

.slide {
  width: 600px;
}

.main-slider {
  position: relative;
  height: 340px;
  background: darkcyan;
  font-size: 0;
  overflow: hidden;
}

.slide-controlls {
  font-size: 34px;
  color: #fff;
}

.slide-arrow-left,
.slide-arrow-right {
  position: absolute;
  top: 50%; 
  transform: translate(0, -50%);
  cursor: pointer;
  padding: 5px;
  opacity: 0.8;
  z-index: 2;
}

.slide-arrow-left:hover,
.slide-arrow-right:hover {
  opacity: 0.9;
}

.slide-arrow-left {
  left: 5px;
}

.slide-arrow-right {
  right: 5px;
}

.slider-track {
  width: 5400px;
  height: 340px;
  transform: translateX(-1950px);
  transition-property: transform;
  transition-timing-function: ease;
}

.slider-track.no-transition {
  transition: none;
}

.slide-container {
  position: relative;
  display: inline-block;
  width: 600px;
  height: 340px;
  overflow: hidden;
}

.slide-container:hover .slide {
  transform: scale(1.1);
  transition: transform 3s cubic-bezier(.3, 0, .7, 1);
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.slider-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 420px;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.slider-text {
  box-sizing: border-box; /* Delete */
  position: absolute;
  width: 600px;
  height: 340px;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  color: #fff; 
  z-index: 1;
}

.slider-text_heading {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 5px;
  background: rgba(0,0,0,0.4);
  /*border-radius: 4px;*/
  line-height: 31px;
}

.slider-text_description {
  font-size: 17px;
  color: #bdc3c7;
}

/*  =========  ***** Section 2 : panier-container *****  =========  */
.title-panier{
  text-align: center;
  color: rgb(224, 109, 14);
  padding-top: 4.50em;
}
.panier-container{
  display: flex;
  margin: auto;
  padding-right: 0.50em;
}

h2.title-shoppy{
  text-align: center;
  color: rgb(224, 109, 14);
  padding-top: 10em;
}
.market{
  padding-top: 2em;
}
img {
  max-width: 100%;
  height: auto;
}
ul.product_list {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.product_grid a {
  text-decoration: none;
}
.product_item {
  display: inline-block;
  background: #fff;
  border: 1px solid rgb(236, 233, 233);
  padding: 10px;
  position: relative;
}

.product_image {
  position: relative;
  overflow: hidden;
}
.product_image a {
  display: block;
}
.product_image img {
  display: block;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.product_image img:hover {
  -o-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.product_image:hover .product_buttons {
  bottom: 0;
}
.product_buttons {
  position: absolute;
  bottom: -40%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  transition: all .35s ease;
}
.product_buttons button {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.product_buttons .product_heart:hover {
  color: #e06d0e;
  background: rgba(255, 255, 255, 0.5);
}
.product_buttons .product_compare:hover {
  color: #e06d0e;
  background: rgba(255, 255, 255, 0.5);
}
.product_buttons .add_to_cart:hover {
  color: #e06d0e;
  background: rgba(255, 255, 255, 0.5);
}

.product_title {
  float: left;
  width: 100%;
  text-transform: uppercase;
}

.product_price a {
  color: #000;
}
.price_old {
  color: #e06d0e;
  text-decoration: line-through;
}
.product_rating {
  float: right;
  width: 100px;
  height: 20px;
  overflow: hidden;
  background: url(https://bit.ly/1B4PjyM) top left no-repeat;
  background-position: 0 76%;
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  ul.product_list {
    margin: 0;
  }
  .product_item {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  .product_sale {
    position: absolute;
    z-index: 99;
    right: -28px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .product_sale p {
    margin: 0;
    color: #fff;
    background: #e06d0e;
    padding: 3px 25px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
  }
  .product_image {
    height: 150px;
    float: left;
    width: 100px;
  }
  .product_image .product_buttons {
    display: none;
  }
  .product_title h5 {
    margin: auto;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
  }
  .product_price span {
    font-size: 1.1em;
    line-height: 1;
  }
  .product_desc {
    overflow: hidden;
    float: left;
    line-height: 1;
  }
  .product_desc p {
    margin: 0;
    line-height: 1.3;
    padding: 10px 0;
}
  .product_values .product_buttons {
    position: relative;
    text-align: left;
    float: left;
    margin-top: 7px;
  }
  .product_values .product_buttons button {
    color: #252525;
    background: rgba(255, 255, 255, 1);
    font-size: 1em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  ul.product_list {
    margin: 1%;
  }
  .product_item {
    width: 49%;
    margin: 0;
  }
  .product_image {
    height: 300px;
    float: left;
    width: 100%;
    text-align: center;
  }
  .product_image img {
    max-height: 100%;
    display: inline-block;
  }
  .product_title h5 {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1;
    padding: 10px 0 0;
    text-align: center;
}
  .product_image .product_buttons {
    display: block;
  }
  .product_price {
    float: left;
    text-align: center;
    width: 100%;
  }
  .product_rating {
    width: 100%;
    background-position: center 76%;
    margin-bottom: 5px;
  }
  .product_desc {
    text-align: center;
  }
  .product_values .product_buttons {
    display: none;
  }
}

@media only screen and (min-width: 678px) {
  .product_item {
    width: 32.5%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .product_item {
    width: 24.25%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .product_item {
    width: 19.5%;
  }
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .product_title h5 {
    font-weight: bold;
  }
 .product_values {
    float: left;
    width: calc(100% - 100px);
    padding: 0 10px;
  }
  .product_rating {
    margin-right: 10px;
  }
  .product_image {
    height: 150px;
    float: left;
    width: 100px;
  }
  .product_image .product_buttons {
    display: none;
  }
  .product_desc {
    overflow: hidden;
    float: left;
    line-height: 1;
  }
  .product_values .product_buttons {
    position: relative;
    text-align: left;
    float: left;
    margin-top: 7px;
  }
  .product_values .product_buttons button {
    color: #252525;
    background: rgba(255, 255, 255, 1);
    font-size: 1em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
  }  
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
   .product_sale {
    display: none;
  }
  .product_image {
    height: auto;
    width: 100%;
  }
  .product_image .product_buttons {
    display: block;
  }
  .product_values {
    width: 100%;
    padding: 0;
    margin: 5px 0;
  }
  .product_title h5 {
    margin: auto;
    font-size: 1em;
    line-height: 1;
    font-weight: bold;
  }
  .product_rating {
    width: 100%;
    background-position-x: 5%;
  }
  .product_desc {
    display: none;
  }
  .product_values .product_buttons {
    display: none;
  }
}

/* ** Button panier **  */
.add-to-cart {
  --color: #fff;
  --icon: var(--color);
  --cart: #fff;
  --dots: #fff;
  --background: #e06d0e;
  --shadow: rgba(0, 9, 61, 0.16);
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  border-radius: 22px;
  padding: 12px 20px;
  font-weight: 500;
  line-height: 20px;
  transform: scale(var(--s, 0.97));
  box-shadow: 0 var(--s-y, 4px) var(--s-b, 12px) var(--shadow);
  color: var(--color);
  background: var(--background);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.add-to-cart .default {
  padding-left: 16px;
  position: relative;
  opacity: var(--o, 1);
  transform: scale(var(--s, 1));
  transition: transform 0.3s, opacity 0.3s;
  transition-delay: var(--d, 0.3s);
}
.add-to-cart .default:before, .add-to-cart .default:after {
  content: "";
  width: 2px;
  height: 12px;
  left: 0;
  top: 4px;
  border-radius: 1px;
  background: var(--icon);
  position: absolute;
  transform: rotate(var(--r, 0deg));
  transition: transform 0.25s;
}
.add-to-cart .default:after {
  --r: 90deg;
}
.add-to-cart .success {
  opacity: var(--o, 0);
  transform: translate(-50%, var(--y, 12px));
  position: absolute;
  top: 12px;
  left: 50%;
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: var(--d, 0s);
}
.add-to-cart .dots {
  width: 4px;
  height: 4px;
  top: 20px;
  left: 50%;
  margin-left: -7px;
  border-radius: 2px;
  position: absolute;
  transform-origin: 10px 50%;
  background: var(--dots);
  box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  opacity: var(--o, 0);
  transform: scale(var(--s, 0.4));
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: var(--d, 0s);
}
.add-to-cart .cart {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: inherit;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.add-to-cart .cart:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background: var(--background);
  top: 17px;
  right: 100%;
  z-index: 1;
  margin-right: -20px;
  transform: translateX(-18px) rotate(-16deg);
}
.add-to-cart .cart > div {
  top: 13px;
  right: 100%;
  transform: translateX(-18px) rotate(-16deg);
  position: absolute;
  z-index: 2;
  transform-origin: 1px 21px;
}
.add-to-cart .cart > div:before, .add-to-cart .cart > div:after {
  content: "";
  position: absolute;
  top: var(--t, 4px);
  left: var(--l, 0);
  height: 2px;
  width: var(--w, 18px);
  background: var(--cart);
  border-radius: 1px;
}
.add-to-cart .cart > div:after {
  --w: 16px;
  --t: 14px;
  --l: 1px;
}
.add-to-cart .cart > div > div {
  width: 2px;
  height: var(--h, 15px);
  border-radius: 1px;
  transform: rotate(var(--r, -8deg));
  background: var(--cart);
  position: relative;
}
.add-to-cart .cart > div > div:before, .add-to-cart .cart > div > div:after {
  content: "";
  position: absolute;
  background: inherit;
}
.add-to-cart .cart > div > div:after {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  bottom: var(--b, -6px);
  left: var(--l, 0);
}
.add-to-cart .cart > div > div:first-child:before {
  border-radius: inherit;
  top: 0;
  right: 0;
  height: 2px;
  width: 6px;
  transform-origin: 5px 1px;
  transform: rotate(16deg);
}
.add-to-cart .cart > div > div:last-child {
  --h: 12px;
  --r: 8deg;
  position: absolute;
  left: 16px;
  bottom: -1px;
}
.add-to-cart .cart > div > div:last-child:after {
  --l: -2px;
  --b: -5px;
}
.add-to-cart.added .default {
  --o: 0;
  --s: .8;
  --d: 0s;
}
.add-to-cart.added .default:before {
  --r: -180deg;
}
.add-to-cart.added .default:after {
  --r: -90deg;
}
.add-to-cart.added .dots {
  --o: 1;
  --s: 1;
  --d: .3s;
  animation: dots 2s linear forwards;
}
.add-to-cart.added .success {
  --o: 1;
  --y: 0;
  --d: 1.8s;
}
.add-to-cart.added .cart:before, .add-to-cart.added .cart > div {
  animation: cart 2s forwards;
}
.add-to-cart:not(.added):hover {
  --s: 1;
  --s-y: 8px;
  --s-b: 20px;
}
.add-to-cart:not(.added):active {
  --s: .94;
  --s-y: 2px;
  --s-b: 6px;
}

@keyframes cart {
  41%, 49%, 57%, 60% {
    transform: translateX(72px) rotate(0deg);
  }
  40%, 47%, 54% {
    transform: translateX(72px) rotate(0deg) translateY(1px);
  }
  100% {
    transform: translateX(180px) rotate(-16deg);
  }
}
@keyframes dots {
  5% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px) rotate(-32deg);
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32%, 50% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  45%, 100% {
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  51%, 100% {
    opacity: 0;
  }
} 

/*  =========  ***** button back to top *****  =========  */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #e06d0e;
  cursor: pointer;
  outline: none;
  border: 3px solid #e06d0e;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  z-index: 99;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #e06d0e;
  color: #fff;  
}
/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* fadeInUp-js */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* fadeOutDown-js */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

/*  =========  ***** form *****  =========  */
@font-face {
  font-family: 'BebasNeueBold';
  src: url('https://cdn.rawgit.com/hecalu/save-the-code/b58adbfe/fonts/BebasNeueBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Digital';
  src: url('https://cdn.rawgit.com/hecalu/save-the-code/b58adbfe/fonts/digital-7.mono.ttf?raw=true')  format('truetype');
}

section.intro {
  position: relative;
  width: 100%;
  height: 100%;
}

section.intro .background {
  position:absolute;
  width: 100%;
  height: 100%;
}

section.intro .background .hale9k {
  position: absolute;
  width: 348px;
  height: 611px;
  top: 100px; 
  right: 25%;
  background: url('https://github.com/hecalu/save-the-code/blob/master/img/robot.png?raw=true') no-repeat;
  perspective: 1200px;

}
section.intro .background .hale9k .beam {
  position: absolute;
  width: 1258px;  height: 624px;
  background: url('https://github.com/hecalu/save-the-code/blob/master/img/beam.png?raw=true') no-repeat;
  top: -200px;
  right: 50%;
  animation: rotatingBeacon 10s linear infinite;
  transform-origin: center right;
}

section.intro .background .hale9k .beam:before {
  content: '';
  position: absolute;
  width: 1258px;  height: 624px;
  background: url('https://github.com/hecalu/save-the-code/blob/master/img/beam.png?raw=true') no-repeat;
  top: 0;
  right: 0;
  animation: rotatingBeacon 10s linear infinite;
  transform-origin: center right;
}

@keyframes rotatingBeacon {
  from  { transform: rotateY(0deg);}
  to    { transform: rotateY(360deg);}
}

section.intro .background:before {
  content: "";
  position:fixed;
  width: 100%;
  height: 100%;
  background: url(https://github.com/hecalu/save-the-code/blob/master/img/bg-sky.jpg?raw=true) center fixed;
  background-size: cover;
  opacity: 1;
}

section.intro .background .fog {
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 506px;
  background: url(https://github.com/hecalu/save-the-code/blob/master/img/smoke.png?raw=true) repeat;
  top: 0;
  left: 0;
  animation: backgroundScroll 90s linear infinite;
}
section.intro .background .fog:before {
  content: "";
  position: absolute;
  opacity: 0.7;
  width: 100%;
  height: 506px;
  background: url(https://github.com/hecalu/save-the-code/blob/master/img/smoke.png?raw=true) repeat;
  top: 50px;
  left: 0;
  animation: backgroundScroll 50s linear infinite;
}
section.intro .background .fog:after {
  content: "";
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 506px;
  background: url(https://github.com/hecalu/save-the-code/blob/master/img/smoke.png?raw=true) repeat;
  top: 150px;
  left: 0;
  animation: backgroundScroll 30s linear infinite;
}
 
@keyframes backgroundScroll {
  from {background-position: 1920px 0;}
  to {background-position: -1920px 0;}
}

section.intro .background .datacenters {
  position: absolute;
  width: 100%;
  height: 1228px;
  background: url(https://github.com/hecalu/save-the-code/blob/master/img/bg-servers.png?raw=true) center bottom;
  background-size: cover;
  opacity: 1;
}

section.intro .background .signal {
  position: absolute;
  top: 20%;
  left: 30%;
  background: url('https://github.com/hecalu/save-the-code/blob/master/img/bg-signal.png?raw=true') no-repeat;
  width: 145px;
  height: 274px;
  animation: neon 15s linear infinite;
}
section.intro .background .hero {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url('https://github.com/hecalu/save-the-code/blob/master/img/hero.png?raw=true') no-repeat;
  width: 776px;
  height: 851px;
}


@keyframes neon {
  0%{   opacity: 1 ; } 
  10%{  opacity: 0.8; } 
  15%{  opacity: 0.2; } 
  20%{  opacity: 1; } 
  40%{  opacity: 0.1; } 
  50%{  opacity: 0.3; } 
  55%{  opacity: 0.8; } 
  85%{  opacity: 1; } 
  95%{  opacity: 0.2; } 
  100%{ opacity: 1; }
}


/*  =========  ***** form *****  =========  */

#newsletter{
  padding: 9em;
  margin: 2em;
  border: 1px solid rgb(224, 109, 14);
}
div.thumbnail .text-news{
  font-size: 19px;
}

input.btn-primary {
  margin-top: 15px;
}
input.btn-primary{
  padding: 1em 10em;
  background: rgb(224, 109, 14);
  border: rgb(224, 109, 14);
}
input.btn-primary:hover{
  background: rgb(11, 122, 35);
  border: rgb(11, 122, 35);
}
/*  =========  ***** footer *****  =========  */
.footer-distributed{
	background: rgb(224, 109, 14);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100vw;
	text-align: left;
	font: bold 16px sans-serif;
  padding: 10px 10px;
  margin-top: 5em;
  position: absolute;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.shoppy{
  padding-top: -11em;
}
.shoppy img{
  width: 8em;
  height: 9em;
  margin-top: -1em;
}
/* Footer left */
.footer-distributed .footer-left{
  width: 40%;
  margin-top: 3.60em;
}
/* The company logo */
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}
.footer-distributed h3 span{
	color:  lightseagreen;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 20px;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #fcfcfd;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
  width: 35%;
  margin-top: 3em;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
  vertical-align: middle;
  transition:all .25s;
}
.footer-distributed .footer-center i:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color:white;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #fff;
	text-decoration: none;;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
/* Footer Right */
.footer-distributed .footer-right{
  width: 20%;
  margin-top: 3em;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #fbfcfd;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 20px;
}
.footer-distributed .footer-icons a{
  position: relative;
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
  text-decoration: none;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
  line-height: 15px;
	margin-right: 3px;
  margin-bottom: 5px;
  padding-top: 9px;
  transition:all .25s;
}
.footer-distributed .footer-icons a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color:white;
}
